{% extends "index.html" %}

{% block content %}
<div class="col mx-auto">
                <h2 style="color:white; text-align: center;">Map</h2>
                <iframe src="/map" width="800px" height="500px"></iframe>

            </div>
        <div class="col">
            <div class="formdiv" >
                <form method="post">
                    <h2 style="color:white; text-align: center;">Afforestation Form</h2>
                    {{ form.hidden_tag() }}
                    {{ form.coordinates.label }}<br>
                    <h3>Choose a polygon from the map</h3><h6 style="border: solid; border-color: #03fcec; border-radius:10px;">Click on the button in the top-right corner <br>of the map, draw a polygon by clicking at the points where<br>you want to place its edges </h6>
                    {{ form.startDate.label }}<br>{{ form.startDate }}<br>
                    {{ form.endDate.label }}<br>{{ form.endDate }}<br>
                    {{ form.organisation.label }}<br>{{ form.organisation }}
                    {{ form.submit() }}
                </form>
            </div>
        </div>


{#    <script>#}
{#        map_osm.on('measurefinish', function(evt){#}
{#                fetch("/measureFinish", {#}
{#                    method: "post",#}
{#                    headers: {#}
{#                        "Accept": "app/json",#}
{#                        "Content-Type": "app/json"#}
{#                    },#}
{#                    body: JSON.stringify({#}
{#                        oJS_In: evt#}
{#                    }, getCircularReplacer())#}
{#                });#}
{#            });#}
{##}
{#            const getCircularReplacer = () => {#}
{#              const seen = new WeakSet()#}
{#              return (key, value) => {#}
{#                if (typeof value === "object" && value !== null) {#}
{#                  if (seen.has(value)) {#}
{#                    return#}
{#                  }#}
{#                  seen.add(value)#}
{#                }#}
{#                return value#}
{#              }#}
{#            }#}
{#    </script>#}
{% endblock %}