{% extends "index.html" %}
{% block content %}
<div class="col mx-auto">
                <h2 style="color:white; text-align: center;">Map</h2>
                <iframe src="/map" width="800px" height="500px"></iframe>

            </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <iframe src="/visstatussoil" width="400px" height="300px"></iframe>
            </div>
            <div class="col">
                <iframe src="/visstatuselevation" width="400px" height="300px"></iframe>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe src="/visstatusweather" width="400px" height="300px"></iframe>
            </div>
            <div class="col">
                <iframe src="/visstatusslope" width="400px" height="300px"></iframe>

            </div>
        </div>
    </div>

{% endblock %}