{% extends "index.html" %}
{% block content %}

        <div class="col">
        <div class="row">
            <div class="col">
                <iframe src="/globalsoil" width="400px" height="250px"></iframe>
            </div>
            <div class="col">
                <iframe src="/globalelevation" width="400px" height="250px"></iframe>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe src="/globalweather" width="400px" height="250px"></iframe>
            </div>
            <div class="col">
                <iframe src="/globalslope" width="400px" height="250px"></iframe>

            </div>
        </div>
    </div>


{% endblock %}