{% extends "index.html" %}


{% block content %}
        <div class="leftdiv">
            <h2 style="color:white; text-align: center;">Map</h2>
            <iframe src="/mapsoil" width="900px", height="500px"></iframe>
        </div>
        <div class="rightdiv" >
            <h2 style="color:white; text-align: center;">Visualisation</h2>
{#            {{ visualisation }}#}
            <iframe src="/visSoil" width="900px", height="500px"></iframe>
        <a href="{{ url_for('specDataSoilType') }}"><button>See specific data</button></a>
        </div>
{% endblock %}