{% extends "index.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <iframe src="/map" width="800px" height="500px"></iframe>
        </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <iframe src="/visstatus" width="500px" height="300px"></iframe>
            </div>
            <div class="col">
                <iframe src="/visstatushealth" width="500px" height="300px"></iframe>

            </div>
        </div>
    </div>
    </div>
{% endblock %}