{% extends "index.html" %}
{% block content %}
<div class="col mx-auto">
                <h2 style="color:white; text-align: center;">Map</h2>
                <iframe src="/map" width="800px" height="500px"></iframe>

            </div>
    <div class="col mx-auto">
        <div class="row mx-auto">
            <div class="col mx-auto">
                <iframe src="/vis" width="500px" height="300px"></iframe>
            </div>
            <div class="col mx-auto">
                <iframe src="/visHealth" width="500px" height="300px"></iframe>

            </div>
        </div>
    </div>

{% endblock %}